body{
	background-image: url(https://1.bp.blogspot.com/-afOD5Go-s6Q/YC53zbaH4CI/AAAAAAAAC4M/ycr0f8IHJvIaqvNWw7xMFQGjZXTdCAlJwCLcBGAsYHQ/s16000/tumblr_niswzuWdlq1tls8aro1_1280.gif);
font-family: courier;
font-weight: bold;
font-size: large;
background-color: #FFECFB
}

.presentacion{
	font-family: courier;
	font-weight: bold;
	text-align: center;
}
.libro{
	width: 22%;
	margin: 5%;
}
.libro2{
	width: 24%;
	margin: 5%;
}
.libro2{
	width: 23%;
	margin: 5%;
}
.brrr:hover{
 animation: shake 0.6s infinite;
}
@keyframes shake {
	0% {
		transform: translate(0px,0px) rotate(0deg);
	}
	25% {
		transform: translate(1px,1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px,-1px) rotate(-1deg);
	}
	75% {
		transform: translate(2px,-1px) rotate(2deg);
	}
	100% {
		transform: translate(-1px,1px) rotate(-1deg);
	}

}
/* @media'ss XD librenau paso por aquí a dejar unos pasos*/
/* Smartphones (portrait & landscape) */
@media screen and (min-width: 320px) and (max-width: 480px) {

  .presentacion{
 font-size: 150%;
	}
	.libro{
		width: 80% !important;
		margin: 5%;
		max-width: min-content;
	}
	.libro2{
		width: 100% !important;
		margin: 5%;
		max-width: min-content;
	}
	.libro3{
		width: 100% !important;
		margin: 5%;
		max-width: min-content;
	}
	.libro.img{
		width: 100%;
		margin: auto;
	}
	.amigues{
		width: 100%;
	}
}
