body{
    font-family: courier;
    background-image: url(https://1.bp.blogspot.com/-WiFR1xvPmPs/YCRU_voBPqI/AAAAAAAAC0I/mbTyTmrxTyUowwCltrlj8AZOeXxIcYfmwCLcBGAsYHQ/s16000/532a270caf5b324c887edd98a5e706d5.gif);

}
img {
  width: auto;
}
h1{
    text-align:center;
    font-weight: bold;
    font-size: larger;
    padding-left: 110px
}
.presentacion{
    text-align:center;
    font-weight:bold;
    font-size: large;
    border: solid yellow;
    border-width: thick;
    margin-left: 16%;
}
.wrong{

  text-align:center;
    font-weight:bold;
    font-size: large;
    border: solid yellow;
   border-width: thick;
    margin-left: 16%;

}


span{
    background-color: yellow;
}

.gauchxs{
width: 100%;
}

.redes{
  font-weight: bold;
  font-size: large;
  padding: 50px 0px 0px 150px;
  text-align: center;
}
.redesdos{
  text-align: center;
  font-size: large;
  font-weight: bold;
  padding-top: 10px
}
.fb{
  float: right;
  padding-top: 40px;
  padding-right: 50px;
}




/* Global */
html{
  min-height: 100%;

}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: black;
  font-family: courier;

}
.line-1{
    position: relative;

    width: 100%;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 250%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 100%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/* The sidebar menu */
.sidenav {
  height: 100%;/* Full-height: remove this if you want "auto" height */
  width: 180px; /* Set the width of the sidebar */
  position: fixed;/* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: yellow; /* Black */

  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 0px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: deeppink;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/*main circle div*/
.openclosemain {
  position: relative;
  margin: 40px auto;
  width: 100px;
  height: 100px;
  background-color: #000;
}
.openclosemain:hover {
  cursor: pointer;
}

/*Text in main circle*/
.hidemain {
  font-weight: bold;
  position: relative;
  text-align: center;
  padding-top: 25%;
  color: #000;
}

/*sub-circle divs*/
.openclose {
  position: relative;
  visibility: hidden;
  padding-bottom: -20px;
}

.openclose .hide > div {
  position: relative;
  margin: 10px auto;
  width: 100%;
  height: 80px;
  background-color: yellow;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
}
.openclose .hide > div:hover {
  cursor: pointer;
  -webkit-animation: bounceOut .5s linear;
}

.openclose > .hide {
  position: relative;
  margin: 0px auto;
  font-family: Verdana;
  font-size: 20px;
  color: #000;
}

.openclosemain {
  background: yellow;
  -webkit-animation: movement 800ms ease 0ms infinite alternate;
}

@-webkit-keyframes movement {
  from {
    -webkit-transform: scale(1) translateY(0px) rotateX(0deg);
    box-shadow: 0 0 0 transparent;
  }
  to {
    -webkit-transform: scale(1) translateY(0px) rotateX(0deg);
    box-shadow: 0 25px 40px transparent;
    background: yellow;
  }
}
/*arrow animation*/
.openclosemain:before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  left: 24px;
  top: 64px;
  background: #000;
  transform: rotate(45deg);
  transition: 0.5s;
}

.openclosemain:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  right: 25px;
  top: 64px;
  background: #000;
  transform: rotate(-45deg);
  transition: 0.5s;
}

/*Bouncing feature for circles applied in div*/
@-webkit-keyframes bounceOut {
  0% {
    box-shadow: 0 0 0 1px yellow;
    opacity: 1;
  }
  25% {
    box-shadow: 0 0 0 4px yellow;
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 0 6px yellow;
    opacity: 1;
  }
  75% {
    box-shadow: 0 0 0 4px yellow;
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 0 1px yellow;
    opacity: 1;
  }
}
.arrowdone:before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  left: 25px !important;
  top: 64px !important;
  background: #000;
  transform: rotate(-45deg);
  transition: 0.5s;
}

.arrowdone:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  right: 25px;
  top: 64px;
  background: #000;
  transform: rotate(45deg);
  transition: 0.5s;
}
/* @media'ss XD librenau paso por aquí a dejar unos pasos*/
/* Smartphones (portrait & landscape) */
@media screen and (min-width: 320px) and (max-width: 480px) {
body{
  padding: 2rem !important;
}
.sidenav {
    display: none;
  }
  .presentacion{
      margin-left: auto !important;
  }

  .line-1{
    white-space: normal !important;
    margin-top: 20%;
  }
  h1{
      padding-left: unset !important;
      text-align: justify;
  }
  a{
    color: black;
}
.redes{
    padding: 0px 0px 0px 0px !important;
}
}
/* Desktops and laptops ---------- */
@media screen and (min-width: 1224px){
.openclosemain{
    display: none;
  }
  .gauchxs{
    padding-left: 140px;
    padding-top: 50px;
    width: auto;
  }
.openclose{
    display: none;
  }

}
